@import './base.css';

#app {
  max-width: 100vw;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  padding: .3em;
  transition: 0.4s;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.button{
  width: 100%;
  background-color: var(--vt-c-white-soft);
  margin: 1rem 0 0 0;
  padding: 1rem;

  border: .2rem solid;
  border-radius: 2rem;

  cursor: pointer;
}

.secondary-button{
  width: 10%;
  background-color: var(--vt-c-white-soft);

  border: .2rem solid var(--vt-c-white);
  border-radius: 2rem;
  padding: .5rem 0 .5rem 0;
}


.main-padding{
  padding: 0rem 1rem 0rem 1rem;
}

hr {
  width: 100%;
  border: .2rem solid var(--vt-c-white);
  border-radius: 2rem;
  margin-bottom: .5rem;
}

.separator{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-hr {
  width: 30%;
}

.section {
  margin-bottom: 2rem;
}

.small-text{
  color: var(--vt-c-gray);
}

.center{
  display: flex;
  justify-content: center;
}